@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= Delius & display = swap');
@import url('https://fonts.googleapis.com/css2?family= Roboto+Slab:wght@300 & display = swap');

:root{
    --fonttitulos: 'Delius', cursive;
    --fontpadrao:'Helvetica', sans-serif;
    --fontconteudo:'Roboto Slab', serif;
}


html, body {
    min-height: 100vh;
    background-color:#027333; 
    font-family: var(--fontconteudo)
}

header{
    background-color:#F22E2E;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 35px;
    font-variant:small-caps;
    font-family: var(--fonttitulos);
    font-size:6vh;
    
}

header>p{
    padding-bottom: 25px;
    font-size:2.5vh;
}

a{
    color: white;
    text-decoration: none;
    font-weight:lighter;
}

a:hover{
    text-decoration:underline;
}

section{

    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 30px;
    font-family: var(--fontconteudo);
    font-size: 3vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color:#011526b4 ;
    color: white;
}

section.image{
    background-color:#bf1f2cd2 ;
    color: white;
    box-shadow: inset 6.5px 6.5px 13px 0px rgba(0, 0, 0, 0.404);
    background-attachment: fixed;
}

section.image >p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.473);
    padding: 6px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.363);
}

section#img01{
    background-image: url(../Imagens/backgroundimg001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02{
    background-image:url(../Imagens/backgroundimg002.jpg);
    background-size: cover;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}